In [10]:
import sparql_dataframe

from SPARQLWrapper import SPARQLWrapper, JSON
import ssl

ssl._create_default_https_context = ssl._create_unverified_context

endpoint = 'https://dati.cultura.gov.it/sparql'

query_culture_events = """
PREFIX cis: <http://dati.beniculturali.it/cis/>
PREFIX arco: <https://w3id.org/arco/ontology/arco/>
PREFIX clvapit:<https://w3id.org/italia/onto/CLV/>

SELECT DISTINCT ?s ?event ?o ?site ?urlcity ?city WHERE {
 ?s a cis:CulturalEvent;
rdfs:label ?event.
?s cis:isHostedBySite ?o.
?o rdfs:label ?site.
?o cis:siteAddress ?address.
?address clvapit:hasCity ?urlcity.
?urlcity rdfs:label ?city
}
"""

In [11]:
df = sparql_dataframe.get(endpoint, query_culture_events)

In [12]:
print(df)

                                                       s  \
0      http://dati.beniculturali.it/mibact/eventi/res...
1      http://dati.beniculturali.it/mibact/eventi/res...
2      http://dati.beniculturali.it/mibact/eventi/res...
3      http://dati.beniculturali.it/mibact/eventi/res...
4      http://dati.beniculturali.it/mibact/eventi/res...
...                                                  ...
21163  http://dati.beniculturali.it/mibact/eventi/res...
21164  http://dati.beniculturali.it/mibact/eventi/res...
21165  http://dati.beniculturali.it/mibact/eventi/res...
21166  http://dati.beniculturali.it/mibact/eventi/res...
21167  http://dati.beniculturali.it/mibact/eventi/res...

                                                   event  \
0      “Un brindisi per l’eternità”, all'Antiquarium ...
1      Giornate Europee del Patrimonio 2022 al Museo ...
2              La storia ragionevole dei Bronzi di Riace
3      Osservando le mura aureliane: una passeggiata ...
4      PATRIMONIO CULTURALE: BENI MATERIALI E BENI IM...
...                                                  ...
21163  Domenica 4 dicembre 2022 la Biblioteca aprirà ...
21164                        Voci diverse, dolci melodie
21165      Fatti di Pier Paolo Pasolini e Roberto Longhi
21166  Fatti di Pier Paolo Pasolini e Roberto Longhi_...
21167                            A lezione in Pinacoteca

                                                       o  \
0      http://dati.beniculturali.it/mibact/eventi/res...
1      http://dati.beniculturali.it/mibact/eventi/res...
2      http://dati.beniculturali.it/mibact/eventi/res...
3      http://dati.beniculturali.it/mibact/eventi/res...
4      http://dati.beniculturali.it/mibact/eventi/res...
...                                                  ...
21163  http://dati.beniculturali.it/mibact/eventi/res...
21164  http://dati.beniculturali.it/mibact/eventi/res...
21165  http://dati.beniculturali.it/mibact/eventi/res...
21166  http://dati.beniculturali.it/mibact/eventi/res...
21167  http://dati.beniculturali.it/mibact/eventi/res...

                                                    site  \
0                  Sede di Antiquarium statale di Numana
1      Sede di Soprintendenza Archeologia, Belle Arti...
2      Sede di Museo archeologico nazionale di Reggio...
3      Sede di Direzione Musei Statali della Città di...
4      Sede di Museo archeologico nazionale di Reggio...
...                                                  ...
21163   Sede di Biblioteca Nazionale Marciana di Venezia
21164  Sede di Museo archeologico nazionale della Val...
21165            Sede di Pinacoteca Nazionale di Bologna
21166            Sede di Pinacoteca Nazionale di Bologna
21167            Sede di Pinacoteca Nazionale di Bologna

                                                 urlcity                city
0      http://dati.beniculturali.it/mibact/eventi/res...              Numana
1      http://dati.beniculturali.it/mibact/eventi/res...               Lecce
2      http://dati.beniculturali.it/mibact/eventi/res...  Reggio di Calabria
3      http://dati.beniculturali.it/mibact/eventi/res...                Roma
4      http://dati.beniculturali.it/mibact/eventi/res...  Reggio di Calabria
...                                                  ...                 ...
21163  http://dati.beniculturali.it/mibact/eventi/res...             Venezia
21164  http://dati.beniculturali.it/mibact/eventi/res...               Sarno
21165  http://dati.beniculturali.it/mibact/eventi/res...             Bologna
21166  http://dati.beniculturali.it/mibact/eventi/res...             Bologna
21167  http://dati.beniculturali.it/mibact/eventi/res...             Bologna

[21168 rows x 6 columns]

In [23]:
df=df.drop_duplicates(["s", "o"])

In [24]:
df.to_csv("/Users/martinapensalfini/Desktop/infowiz/cleancefile.csv")

In [25]:
df_city=df["city"]
print(df_city)

0                    Numana
1                     Lecce
2        Reggio di Calabria
3                      Roma
4        Reggio di Calabria
                ...
21163               Venezia
21164                 Sarno
21165               Bologna
21166               Bologna
21167               Bologna
Name: city, Length: 21101, dtype: object

In [26]:
counts = dict()
for i in df["city"]:
    if i=="Bologna":
        counts[i] = counts.get(i, 0) + 1
print(counts)

{'Bologna': 198}

In [27]:
counts = dict()
for i in df["city"]:
    if i=="Zogno":
        counts[i] = counts.get(i, 0) + 1
print(counts)

{'Zogno': 2}

In [28]:
counts = dict()
for i in df["city"]:
    if i=="Amalfi":
        counts[i] = counts.get(i, 0) + 1
print(counts)

{'Amalfi': 2}

In [29]:
counts = dict()
for i in df["city"]:
    if i=="Buddusò":
        counts[i] = counts.get(i, 0) + 1
print(counts)

{'Buddusò': 1}

In [ ]:
#to retrieve dbPedia links
query = '''
SELECT DISTINCT(?urlcity2) ?dbCity WHERE {
 ?s a cis:CulturalEvent;
rdfs:label ?event.
?s cis:isHostedBySite ?o.
?o rdfs:label ?site.
?o cis:siteAddress ?address.
?address clvapit:hasCity ?urlcity.
?urlcity owl:sameAs ?urlcity2.
?urlcity2 owl:sameAs ?dbCity. 
FILTER(contains (str(?dbCity), "dbpedia") )
}
'''

In [1]:
from sparql_dataframe import get
endpoint = 'https://dati.cultura.gov.it/sparql'

#count of all the cities
query = '''
SELECT COUNT(DISTINCT(?urlcity) as ?count) WHERE {
 ?s a cis:CulturalEvent;
rdfs:label ?event.
?s cis:isHostedBySite ?o.
?o rdfs:label ?site.
?o cis:siteAddress ?address.
?address clvapit:hasCity ?urlcity.
}
'''
CountCity = get(endpoint, query)
CountCity

   callret-0
0       1018

In [ ]:
?urlcity owl:sameAs ?urlcity2.

In [ ]:
query_institutions ="""SELECT DISTINCT ?topic WHERE {
?s foaf:primaryTopic ?topic
}"""

df = sparql_dataframe.get(endpoint, query_institutions)

In [ ]:
query_lat_long ="""SELECT DISTINCT ?topic ?lat ?long WHERE {
?s foaf:primaryTopic ?topic.
?topic geo:lat ?lat.
?topic geo:long ?long.
}"""

df = sparql_dataframe.get(endpoint, query_lat_long)